@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&family=Spectral:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

body > div {
  display: inline-block;
  width: -webkit-fill-available;
}

body > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*HEADER*/
#fixed-header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}

.header {
  background-color: #ffc017;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

header {
  max-width: 1192px;
  width: 100%;
  padding-block: 1rem;
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

header img {
  height: 25px;
  cursor: pointer;
}

header div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header span {
  line-height: 20px;
  font-size: 14px;
  color: #242424;
  margin-right: 25px;
}

header button {
  font-size: 14px;
  line-height: 20px;
  color: white;
  background-color: #191919;
  border: 1px solid #191919;
  border-radius: 99em;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 300ms linear;
}

header button:hover {
  background-color: black;
}

#menu {
  display: flex;
  align-items: center;
}

#menu > span {
  cursor: pointer;
}

.hero {
  padding-top: 75px;
  background-color: #ffc017;
  position: relative;
  border-bottom: 1px solid black;
}

.hero > div {
  max-width: 1192px;
  width: 100%;
  margin: auto;
}

.hero > div > div {
  display: flex;
}

#hero-title {
  display: flex;
  flex-direction: column;
  width: 550px;
  padding-top: 93px;
  padding-bottom: 92px;
}

h1 {
  font-family: "Spectral", serif;
  letter-spacing: -0.05em;
  line-height: 95px;
  font-size: 106px;
  font-weight: 400;
  margin-bottom: 35px;
}

.hero p {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}

.hero button {
  color: white;
  font-size: 20px;
  font-weight: 400;
  width: 213px;
  padding: 8px 20px;
  line-height: 24px;
  background-color: #191919;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.hero button:hover {
  background-color: black;
}

#hero-svg {
  width: 585px;
  position: absolute;
  right: 0;
}

.hero svg {
  width: 100%;
  height: 100%;
}

/*MAIN*/

main {
  display: flex;
  flex-direction: column;
}

/*TRENDING*/

main > div {
  display: flex;
  justify-content: center;
}

main > div > div {
  margin: 0 64px;
  padding-top: 40px;
  padding-bottom: 16px;
  max-width: 1192px;
  width: 100%;
}

#trending {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

#trending img {
  margin-right: 10px;
  vertical-align: middle;
}

#trending h2 {
  letter-spacing: 0;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
}

.trending-products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.trending-element {
  display: flex;
  align-items: flex-start;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
  font-weight: 400;
  margin-bottom: 24px;
}

.trending-element > div:first-of-type {
  width: 40px;
  margin-right: 16px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.014em;
  color: #e7e7e7;
  line-height: 38px;
  position: relative;
  top: -10px;
}

.trending-element > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.trending-author {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.trending-author > img {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  vertical-align: middle;
  cursor: pointer;
}

.trending-author > h3 {
  margin-left: 8px;
  height: 16px;
  font-size: 13px;
  font-weight: 600;
  color: #242424;
  cursor: pointer;
}

.trending-element > div > h4 {
  margin-bottom: 8px;
  font-weight: 700;
  max-height: 40px;
  letter-spacing: 0;
  line-height: 20px;
  font-size: 16px;
  color: #242424;
  cursor: pointer;
}

.trending-date {
  display: flex;
  margin-top: 2px;
}

.trending-date > span {
  font-size: 13px;
  color: #6b6b6b;
  line-height: 20px;
}

.star {
  display: inline-block;
  font-size: 13px;
  line-height: 20px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  padding: 0 0 0 4px;
  cursor: pointer;
}

/*OTHER POST*/
article {
  padding-top: 56px;
  border-top: 1px solid #f2f2f2;
}

section {
  display: flex;
  justify-content: center;
}

section > div {
  margin: 0 64px;
  max-width: 1192px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
}

#other-post {
  padding-block: 12px;
}

#other-post > div {
  display: inline-block;
}

.post {
  margin-bottom: 48px;
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-info > div:first-of-type {
  margin-right: 20px;
  width: 100%;
}

.post-author {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}

.post-author > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

.post-author > h3 {
  font-size: 13px;
  font-weight: 600;
  color: #242424;
  line-height: 16px;
  margin-left: 8px;
  cursor: pointer;
}

.post-content {
  padding-top: 4px;
  cursor: pointer;
}

.post-content > h4 {
  letter-spacing: 0;
  max-height: 48px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  color: #242424;
}

.post-content > p {
  max-height: 60px;
  color: #6b6b6b;
  font-size: 16px;
  line-height: 20px;
  padding-top: 4px;
}

.post-date {
  padding-top: 8px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.post-date > div:first-child {
  display: flex;
  align-items: center;
}

span {
  font-size: 13px;
  color: #6b6b6b;
  line-height: 20px;
}

.tag {
  padding: 2px 8px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 100px;
  font-size: 13px;
  line-height: 20px;
  color: #6b6b6b;
  cursor: pointer;
}

.dot {
  padding-inline: 6px;
  font-size: 14px;
}

.post-date .star {
  height: 20px;
}

.post-date > div:nth-child(2) {
  margin-right: 8px;
}

.post-date > div:nth-child(2) img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  cursor: pointer;
}

.post-info > div:nth-child(2) img {
  vertical-align: middle;
  width: 200px;
  aspect-ratio: auto 200 / 134;
  height: 134px;
}

/*ASIDE*/

aside {
  display: inline-block;
  max-width: 35%;
}

#aside-tag {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 32px;
}

#aside-tag > div:first-child {
  padding-bottom: 16px;
}

#aside-tag > div:first-child h2 {
  letter-spacing: 0;
  font-weight: 900;
  font-size: 12px;
  color: #242424;
  line-height: 20px;
}

#aside-tag > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#aside-tag > div:nth-child(2) > button {
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid lightgray;
  color: #242424;
  background-color: transparent;
  line-height: 20px;
  font-size: 14px;
}

#aside-tag > div:nth-child(3) {
  margin-top: 14px;
}

#aside-tag > div:nth-child(3) > p {
  color: #1a8917;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

#aside-tag > div:nth-child(3) > p:hover {
  color: black;
}

#aside-terms {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0;
}

#aside-terms > p {
  margin-right: 26px;
  margin-bottom: 8px;
  color: #6b6b6b;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
}
